@{
  ViewBag.Title = "Home Page";
}
<div class="row justify-content-md-center">
  <div class="col col-lg-2">
    <div class="product-info">
      <img src="~/img/VanGogh.jpg" />
      <h3>Mug</h3>
      <ul class="products-props">
        <li>Price: $9.99</li>
        <li>Artist: Van Gogh</li>
        <li>Title: </li>
        <li>Description: Self-Portrait</li>
      </ul>
    </div>
    </div>
  <div class="col-md-auto" >
    <p>This is a fun site to do some buying of Dutch products.</p>
  </div>
  <div class="col col-lg-2">
     
  </div>
</div>